<!DOCTYPE html>
<html>
<head>
	<title>myFarmHarvest</title>
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="uiTask">
	<div class="header">
		<div class="container">
			<span class="sidelogo">
				<img src="img/logo-ex-4.png" alt="logo" style="height: 200px;">
			</span>
			<div class="side-menu">
				<ul class="smenu">
					<li><a href="#" style="color: #595959;">FAQ</a></li>
					<li><a href="#" style="color: #595959;">How It Works</a></li>
					<li><a href="#" style="color: #595959;">Book a Farm</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="section2">
		<div class="banner">
			<div class="banner-img" style="position: relative; z-index: 1">
				<img src="img/agriculture-crops-farming-gm.jpg" alt="banner" style="width: 100%;height: 500px;">
			</div>
			<div class="banner-video" style="position: relative;z-index: 2">
				<img src="img/farmbanner.png" alt="bannervideo"	style="margin: -200px 0 0 400px;height: 50%;width: 50%;border: 5px solid #ffffff;">
			</div>
		</div>
		<div class="section2-des" style="text-align: center;padding: 40px;">
			<p style="font-size: 20px;">Let your family experience farming</p>
			<p style="font-size: 20px;">Grow your own veggies and enjoy fresh,chemical free food from your own food</p>
			<p style="font-size: 20px;">Take pride in being and 'Urban Farmer'</p>
		</div>
	</div>
	<div class="section3" style="background-color: #d9d9d9;">
		<div class="setwidth">
			<div class="section3-heading" style="text-align: center;font-weight: bold;font-size: 30px;">
				<h3>How to join?</h3> 
			</div>
		
			<div class="row section3-tabs">
				<div class="col1" style="text-align: center; border: 1px ;background-color: #ffffff;margin-right:20px;width: 270px;">
					<img src="img/f227ba5b9c.png" alt="book1" style="height: 50px;">
					<h5>Book a Mini Farm</h5>
					<p>Some text that goes here that should be typed</p>
				</div>
				<div class="col2" style="text-align: center; border: 1px ;background-color: #ffffff;margin-right:20px;width: 270px;">
					<img src="img/f227ba5b9c.png" alt="book1" style="height: 50px;">
					<h5>Book a Mini Farm</h5>
					<p>Some text that goes here that should be typed</p>
				</div>
				<div class="col3" style="text-align: center; border: 1px ;background-color: #ffffff;margin-right:20px;width: 270px;">
					<img src="img/f227ba5b9c.png" alt="book1" style="height: 50px;">
					<h5>Book a Mini Farm</h5>
					<p>Some text that goes here that should be typed</p>
				</div>
				<div class="col4" style="text-align: center; border: 1px ;background-color: #ffffff;margin-right:20px;width: 270px;">
					<img src="img/f227ba5b9c.png" alt="book1" style="height: 50px;">
					<h5>Book a Mini Farm</h5>
					<p>Some text that goes here that should be typed</p>
				</div>
			</div>
		</div>	
	</div>
	<div class="section4">
		<div class="container">
			<div class="section3-heading" style="text-align: center;font-weight: bold;font-size: 30px;">
				<h3>Benefgits of myFarmHarvest</h3>
			</div>
			<div class="row section4-tabs">
				<div class="col-lg-6">
					<img src="img/580b585b2edbce24c47b2990.png" alt="sideimg1" style="float:left; height: 220px;padding-right: 20px;">
					<div class="right-li">
						<p>Families</p>
							<ul class="right-list">
								<li><p>Fresh,healthy,ChemicalFreeFood</p></li>
								<li><p>Fresh,healthy,ChemicalFreeFood</p></li>
								<li><p>Fresh,healthy,ChemicalFreeFood</p></li>
								<li><p>Fresh,healthy,ChemicalFreeFood</p></li>
								<li><p>Fresh,healthy,ChemicalFreeFood</p></li> 
								
							</ul>
					</div>
				</div>
				<div class="col-lg-6">
				<img src="img/580b585b2edbce24c47b2990.png" alt="sideimg1" style="float:left;height: 220px;padding-right: 20px;">
					<div class="right-li">
						<p>Families</p>
							<ul class="right-list">
								<li><p>Fresh,healthy,ChemicalFreeFood</p></li>
								<li><p>Fresh,healthy,ChemicalFreeFood</p></li>
								<li><p>Fresh,healthy,ChemicalFreeFood</p></li>
								<li><p>Fresh,healthy,ChemicalFreeFood</p></li>
								<li><p>Fresh,healthy,ChemicalFreeFood</p></li> 
								
							</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section5" style="background-color:#d9d9d9; padding: 20px;">
		<div class="container">
			<div class="section4heading" style="text-align: center;font-size: 20px;">
				<p>To Come a Urban Farmer Today</p>
				<p>Realize your farming dreams .Be art of our community to receive updates</p>
			</div>
			<div class="row" style="padding: 30px 10px;">
				<div class="col-lg-4">
					<img src="img/580b585b2edbce24c47b2990.png" alt="sideimg1" style="height: 220px;">
				</div>
				<div class="col-lg-8">		
					<div class="form1" style="width: 500px;text-align: center;">
						<form ng-controller="validateForm" name="myForm" novalidate> 
							<div class="form-group">
								
			  					<input type="text" class="form-control" id="usr" placeholder="Name" name="name" ng-model="name" required><span style="color:red;" ng-show="myForm.name.$touched && myForm.name.$invalid">Name is Required</span>
							</div>
							<div class="form-group">
								
								<input type="text" class="form-control" id="phoneno" placeholder="Phone" name="pnoneno" ng-model="phoneno" required><span style="color:red;" ng-show="myForm.phoneno.$touched && myForm.phoneno.$invalid">Phone Number is Required</span>
							</div>
						  	<div class="form-group">
						    
						    	<input type="email" class="form-control" id="email" placeholder="Email" name="email" ng-model="email" required><span style="color:red;" ng-show="myForm.email.$touched && myForm.email.$invalid"></span>
						    	<!-- <span style="color:red;" ng-show="myForm.email.$error.required">Email is required.</span> -->
								<span style="color:red;" ng-show="myForm.email.$error.email">Invalid email address.</span>
						  	</div>
						  	<div class="form-group">
								 
			  					<input type="text" class="form-control" id="location" placeholder="Location" name="location" ng-model="location" required><span style="color:red;" ng-show="myForm.location.$touched && myForm.location.$invalid"></span>
							</div>
						  <button type="submit" class="btn btn-default" style="background-color:  #009933;width: 500px;">Subscribe</button>
						</form>
					</div>	
				</div>	
			</div>	
		</div>

	</div>
	<div class="section6" style="padding: 20px;">
		<div class="container">
			<div class="section5heading" style="padding: 20px 10px;">
				<p style="text-align: center; font-weight: bold;font-size: 30px;">Frequently asked questions</bold>
			</div>
			<div id="accordion">

				  <div class="card" style="margin-bottom: 20px; ">
				    <div class="card-header">
				      <a class="card-link" data-toggle="collapse" href="#collapseOne">
				        What is my harvest
				      </a>
				    </div>
				    <div id="collapseOne" class="collapse show" data-parent="#accordion">
				      <div class="card-body">
				        Lorem ipsum..
				      </div>
				    </div>
				  </div>

				  <div class="card" style="margin-bottom: 20px; ">
				    <div class="card-header">
				      <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
				        Why should I prefer
				      </a>
				    </div>
				    <div id="collapseTwo" class="collapse" data-parent="#accordion">
				      <div class="card-body">
				        Lorem ipsum..
				      </div>
				    </div>
				  </div>

				  <div class="card" style="margin-bottom: 20px; ">
				    <div class="card-header">
				      <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
				        What Type of crops are growns
				      </a>
				    </div>
				    <div id="collapseThree" class="collapse" data-parent="#accordion">
				      <div class="card-body">
				        Lorem ipsum..
				      </div>
				    </div>
				  </div>

			</div>
		</div>
	</div>

<script>
var app = angular.module('uiTask', []);
app.controller('validateForm', function($scope) {
	$scope.fname = '';
	$scope.lname =  '';
    $scope.password = '';
    $scope.email = '';
});
</script>

</body>
</html>